.tile {
  background-color: peru;
  margin: 1px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tile-hidden {
  background-color: peru;
}

.tile-hidden .tile-front {
  display: none;
}

.tile-shown {
  background-color: transparent;
}

.tile-shown .tile-back {
  background-color: lightgray;
  display: none;
}

.tile-gone {
  background-color: transparent;
}

.tile-gone img {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.desktop {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/imgs/seamless01.jpg');
}
