<!--
  Generated template for the PlayGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tentativi: {{game.score}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="desktop">
    <div *ngIf="game.state === 'won'">
      <img src="assets/imgs/thumb-up.png" />
    </div>
    <ion-grid *ngIf="game.state!='won'">
      <ion-row *ngFor="let row of tileRowsOf(4); index as rowidx">
        <ion-col *ngFor="let tile of row; index as idx">
          <simple-tile [tile]="tile" (tap)="tapTile(tile)"></simple-tile>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
